<head>
  <meta charset="utf-8">
  <title>{{ get_config('site_name') }} - {{ page_title }}</title>
  <meta name="description" content="{{ site_description }}" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% autoescape false %}{{ render_favicons() }}{% endautoescape %}
  {% include '@psu-ooe/webfonts/webfonts.twig' %}
  {% autoescape false %}<style>{{ get_styles() }}</style>{% endautoescape %}
  <style>
    .visually-hidden{position:absolute!important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal}
    .block--system-branding-block .sprite{color:var(--beaver-blue);height:auto;width:13rem;min-width:3rem;max-width:100%}@media (min-width:550px){.block--system-branding-block .sprite{width:18.5rem}}
    .tagline::before{content:"";display:block;background-color:var(--sky-blue);height:.1rem;width:6rem;margin-bottom:.6rem}.tagline__text{color:var(--text-color--light);font-family:var(--font-family--default);font-size:var(--font-size--5xsmall);font-weight:var(--font-weight--regular);line-height:var(--line-height--xsnug)}@media (min-width:550px){.tagline{margin-left:2rem}.tagline::before{height:.2rem;width:7rem;margin-bottom:.7rem}.tagline__text{font-size:var(--font-size--3xsmall)}}@media (min-width:950px){.tagline{margin-left:4rem}.tagline::before{height:.3rem;width:8rem;margin-bottom:.8rem}.tagline__text{font-size:var(--font-size--mlarge)}}
    .footer-bottom{padding:5rem var(--page-side-padding) 13rem;background:linear-gradient(to right,var(--nittany-navy),var(--beaver-blue));position:relative;display:flex;flex-direction:column;gap:4rem}.footer-bottom__geometrics{overflow:hidden;position:absolute;inset:0}.footer-contact,.footer-legal{position:relative;color:var(--white)}.footer-bottom__geometrics .sprite{opacity:.3;position:absolute;top:-1rem;right:-30rem;width:60rem;height:auto;--hub-geometric-gradient:url(#hub-geometric-footer-bottom-gradient)}.footer-contact{max-width:111rem;margin:0 auto;display:flex;flex-direction:column;gap:2rem}.footer-contact__link{color:var(--white);text-decoration:none;margin-left:.5rem}.footer-contact__link:focus-visible,.footer-contact__link:hover{text-decoration:underline}.footer-contact__icons{margin-top:1rem}.footer-contact__address,.footer-contact__contact{font-size:var(--font-size--msmall);line-height:var(--line-height--snug);font-weight:var(--font-weight--semibold)}.footer-contact__contact{white-space:nowrap}.footer-contact__contact .sprite{font-size:1.4rem}.footer-contact__prefix{font-style:italic;font-weight:var(--font-weight--regular)}.footer-legal{max-width:111rem;margin:0 auto}.footer-legal .psu-logo{margin-bottom:2rem}.footer-legal .psu-logo__link{display:block;outline-offset:0.2rem}.footer-legal .psu-logo .sprite{color:var(--white);height:auto;width:100%;max-width:10rem}.menu-legal{padding:0;margin:0}.menu-legal__item{display:inline-block;font-size:var(--font-size--3xsmall);line-height:var(--line-height--xsnug);font-weight:var(--font-weight--semibold)}.menu-legal__item::after{content:"•";margin-left:1.5rem;margin-right:1.5rem;color:var(--sky-blue)}.menu-legal__item:last-child{display:block;padding-bottom:0;font-weight:400;font-style:italic}.menu-legal__item:last-child::after{content:""}.menu-legal__item:last-child::after,.menu-legal__item:nth-last-child(2)::after{content:unset}.menu-legal__link{color:var(--white);display:inline-block;padding:1rem 0;text-decoration:none}.menu-legal__link:hover{color:var(--white);text-decoration:underline}.back-to-top{height:4.5rem;width:4.5rem;background-color:rgba(0,95,169,.5);border-radius:50%;border:.2rem solid rgba(255,255,255,.5);position:absolute;top:0;right:0;color:var(--white);display:flex;transition:ease-in-out var(--transition-duration--medium) background-color}.back-to-top:focus-visible,.back-to-top:hover{background-color:#005fa9}@media (min-width:950px){.footer-bottom{padding-bottom:5rem}.footer-bottom__geometrics .sprite{left:calc(max(50%,59.5rem) + 22rem);right:unset;width:67rem}.footer-contact{display:grid;grid-template-columns:20% 40% 1fr;column-gap:7.5%}.footer-contact__icons{margin-top:0;max-width:22rem}.footer-legal__row{display:grid;column-gap:2.5%;grid-template-columns:10rem 1fr;max-width:100%}.footer-legal .psu-logo{margin-top:.5rem}.menu-legal{margin:0 17rem 0 0}.menu-legal__item::after{margin-left:1rem;margin-right:1rem}.back-to-top{display:none}}.back-to-top .sprite{margin:auto;width:auto;height:2.2rem}
    #main-content{max-width:119rem;margin:auto;padding:0 var(--page-side-padding)}
    div#main-content{display:flex;flex-wrap:wrap;gap:5%;}
    #main-content > main { flex-basis: 72.5%;min-width:80rem; }
    #main-content > aside { flex-basis:22.5% }
    footer {
        margin-top: 5rem;
    }
    .contact, .legal {  padding: 0 var(--page-side-padding); max-width: 119rem; margin: auto;}
    .contact {
        color: white;
        display: flex;
        flex-flow: row wrap;
        gap: 3rem 7.5%;
        margin-bottom: 3rem;
    }
    .contact__details { display: flex; flex-direction: column; flex: 32.5%; min-width: 22rem;  }
    .contact__details a, .legal__link { color: white; text-decoration: none }
    .contact__address {
        min-width: 22rem;
        font-size: var(--font-size--msmall);
        line-height: var(--line-height--snug);
        font-weight: var(--font-weight--semibold);
        flex: 32.5%;
    }
    .contact__social { min-width: 22rem; flex: 20%; }

    .legal {
        display: flex; gap: 2rem;
    }

    .psu-logo .sprite {
        color: white;
        height: auto;
        width: 100%;
        max-width: 10rem;
        padding: 1rem;
        height: fit-content;
    }
    .legal {     display: grid;
        column-gap: 2.5%;
        grid-template-columns: 10rem 1fr;}
    .legal__menu {
      margin: 0;
      padding: 0;
    }
    .legal__item {  display: inline-block;
        font-size: var(--font-size--3xsmall);
        line-height: var(--line-height--xsnug);
        font-weight: var(--font-weight--semibold);}
    .legal__item:not(:last-child):not(:nth-last-child(2))::after {
        content: "•";
        margin-left: 1rem;
        margin-right: 1rem;
        color: var(--sky-blue);
    }
    .legal__item:last-child {
        display: block;
    }
    .legal__link {
        display: inline-block;
        padding: 1rem 0;
        text-decoration: none;
    }
  </style>
</head>