<head>
  <meta charset="utf-8">
  <title>{{ get_config('site_name') }} - {{ page_title }}</title>
  <meta name="description" content="{{ site_description }}" />
  <meta name="robots" content="{{ meta.robots }}" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% autoescape false %}{{ render_favicons() }}{% endautoescape %}
  {% include '@oe/webfonts/webfonts.twig' %}
  {% autoescape false %}<style>{{ get_styles() }}</style>{% endautoescape %}
  <style>
      .ds-example {
          background: var(--light-grey);
          border: 1px solid var(--medium-dark-grey);
          border-left: 3px solid var(--sky-blue);
          color: var(--beaver-blue);
          page-break-inside: avoid;
          font-family: monospace;
          font-size: 15px;
          line-height: 1.6;
          max-width: 100%;
          overflow: auto;
          padding: 1em 1.5em;
          display: block;
          word-wrap: break-word;
      }
      .header {
          position: sticky;
          top:0;
          z-index: 9999;
      }
    .footer {margin-top: 5rem;}
    .visually-hidden{position:absolute!important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal}
    .block--system-branding-block .sprite{color:var(--beaver-blue);height:auto;width:13rem;min-width:3rem;max-width:100%}@media (min-width:550px){.block--system-branding-block .sprite{width:18.5rem}}
    .tagline::before{content:"";display:block;background-color:var(--sky-blue);height:.1rem;width:6rem;margin-bottom:.6rem}.tagline__text{color:var(--text-color--light);font-family:var(--font-family--default);font-size:var(--font-size--5xsmall);font-weight:var(--font-weight--regular);line-height:var(--line-height--xsnug)}@media (min-width:550px){.tagline{margin-left:2rem}.tagline::before{height:.2rem;width:7rem;margin-bottom:.7rem}.tagline__text{font-size:var(--font-size--3xsmall)}}@media (min-width:950px){.tagline{margin-left:4rem}.tagline::before{height:.3rem;width:8rem;margin-bottom:.8rem}.tagline__text{font-size:var(--font-size--mlarge)}}
    #main-content{max-width:119rem;margin:auto;padding:0 var(--page-side-padding)}
    div#main-content{display:flex;flex-wrap:wrap;gap:5%;}
    #main-content > main { flex-basis: 72.5%;min-width:80rem; }
    #main-content > aside { flex-basis:22.5% }
  </style>
</head>