<!DOCTYPE html>
<html lang="en">
  {% include '_partials/head.twig' %}
  <body>
  {% include '_partials/body-top.twig' %}
  {% include '_partials/announcements.twig' %}
  {% include '_partials/header.twig' %}
  <div style="height: fit-content;">
    {% for block in blocks['before_content'] %}
      {% autoescape false %}{{ block }}{% endautoescape %}
    {% endfor %}
  </div>
  {% if blocks['sidebar'] %}
    <div id="main-content">
      <main>
        {% apply markdown_to_html %}
          {{ content }}
        {% endapply %}
      </main>
      {% for block in blocks['after_main'] %}
        {% autoescape false %}{{ block }}{% endautoescape %}
      {% endfor %}
      <aside>
        {% for block in blocks['sidebar'] %}
          {% autoescape false %}{{ block }}{% endautoescape %}
        {% endfor %}
      </aside>
    </div>
  {% else %}
    <main id="main-content">
      {% apply markdown_to_html %}
        {{ content }}
      {% endapply %}
    </main>
  {% endif %}
  {% include '_partials/body-bottom.twig' %}
  </body>
</html>